workflows/omi-memory-supabase-pmh-omi-day-summary.workflow.json
{
  "id": "WsswSk1B0Qu51psJ",
  "name": "OMI-Memory-Supabase - PMH Omi Day Summary",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "pmh/omi/day-summary",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -740,
        0
      ],
      "id": "1d719fc1-8ed0-4cb1-beec-815b55949409",
      "name": "Omi Webhook Intake",
      "webhookId": "39dd42d7-6861-4581-b967-41c1ceccbc38"
    },
    {
      "parameters": {
        "jsCode": "const input = $json || {};\nconst inboundBody = input.body ?? input;\nconst headers = input.headers ?? {};\nconst query = input.query ?? {};\nconst params = input.params ?? {};\nconst binaryKeys = $binary ? Object.keys($binary) : [];\nconst binaryMeta = {};\nfor (const key of binaryKeys) {\n  const b = $binary[key] || {};\n  binaryMeta[key] = { mimeType: b.mimeType, fileName: b.fileName, fileExtension: b.fileExtension, fileSize: b.fileSize };\n}\nfunction canonical(value) {\n  if (Array.isArray(value)) return value.map(canonical);\n  if (value && typeof value === 'object') {\n    const out = {};\n    for (const k of Object.keys(value).sort()) out[k] = canonical(value[k]);\n    return out;\n  }\n  return value;\n}\nfunction fnv1a64(str) {\n  let h1 = 0xdeadbeef ^ str.length;\n  let h2 = 0x41c6ce57 ^ str.length;\n  for (let i = 0, ch; i < str.length; i++) {\n    ch = str.charCodeAt(i);\n    h1 = Math.imul(h1 ^ ch, 2654435761);\n    h2 = Math.imul(h2 ^ ch, 1597334677);\n  }\n  h1 = Math.imul(h1 ^ (h1 >>> 16), 2246822507) ^ Math.imul(h2 ^ (h2 >>> 13), 3266489909);\n  h2 = Math.imul(h2 ^ (h2 >>> 16), 2246822507) ^ Math.imul(h1 ^ (h1 >>> 13), 3266489909);\n  return ((h2 >>> 0).toString(16).padStart(8, '0') + (h1 >>> 0).toString(16).padStart(8, '0'));\n}\nfunction first(...vals) { return vals.find(v => v !== undefined && v !== null && String(v).length > 0) ?? null; }\nconst bodyObject = Array.isArray(inboundBody) ? { items: inboundBody } : (inboundBody && typeof inboundBody === 'object' ? inboundBody : { value: inboundBody });\nconst payloadForStorage = true\n  ? { kind: 'audio_bytes_metadata', query, params, binaryMeta, note: 'Raw audio bytes intentionally not stored in Postgres by PMH intake.' }\n  : { kind: 'omi.day_summary', body: bodyObject, query, params };\nconst stable = JSON.stringify(canonical({ payload: payloadForStorage, query, params, binaryMeta }));\nconst payloadHash = 'jsfnv64:' + fnv1a64(stable);\nconst payload = bodyObject;\nconst externalEventId = first(payload.event_id, payload.eventId, payload.id, payload.uid, query.event_id, query.session_id);\nconst externalConversationId = first(payload.conversation_id, payload.conversationId, payload.conversation?.id, payload.session_id, query.session_id);\nconst externalMemoryId = first(payload.memory_id, payload.memoryId, payload.memory?.id);\nconst eventTs = first(payload.created_at, payload.createdAt, payload.started_at, payload.timestamp);\nreturn [{ json: {\n  source_system_id: 'b56c1844-4a3c-48dd-ba39-eedf33fdeb7f',\n  external_user_id: first(payload.user_id, payload.userId, payload.uid, query.uid),\n  external_event_id: externalEventId,\n  external_conversation_id: externalConversationId,\n  external_memory_id: externalMemoryId,\n  event_type: 'omi.day_summary',\n  event_timestamp: eventTs,\n  idempotency_key: externalEventId || externalMemoryId || externalConversationId || payloadHash,\n  payload_hash: payloadHash,\n  payload: payloadForStorage,\n  headers,\n  ingest_status: 'received'\n} }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -480,
        0
      ],
      "id": "9f6ca283-0b5e-4af6-a34e-dc67d4659978",
      "name": "Normalize Typed Omi Event"
    },
    {
      "parameters": {
        "operation": "insert",
        "schema": {
          "mode": "name",
          "value": "pmh"
        },
        "table": {
          "mode": "name",
          "value": "raw_events"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": null,
          "matchingColumns": [],
          "schema": []
        },
        "options": {
          "skipOnConflict": true
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -220,
        0
      ],
      "id": "7116d87c-ba92-4b8a-b50b-f50abb536d12",
      "name": "Insert Raw Event",
      "credentials": {
        "postgres": {
          "id": "6KOtcyLklzrEtDiv",
          "name": "Supabase via Postgres account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { accepted: true, workflow: $workflow.name, rawEventId: $json.raw_event_id || null, status: $json.ingest_status || 'received' } }}",
        "options": {
          "responseCode": 202
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        40,
        0
      ],
      "id": "62856775-b917-4818-abf6-4b6a7b25a4ec",
      "name": "Accepted Response"
    }
  ],
  "connections": {
    "Omi Webhook Intake": {
      "main": [
        [
          {
            "node": "Normalize Typed Omi Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Typed Omi Event": {
      "main": [
        [
          {
            "node": "Insert Raw Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Raw Event": {
      "main": [
        [
          {
            "node": "Accepted Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveExecutionProgress": true,
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "HsH8jyIcCwrMIXUY"
  },
  "staticData": null,
  "pinData": {},
  "versionId": "b5672b53-9861-4781-bd76-825259fcef14",
  "triggerCount": 1,
  "meta": null,
  "createdAt": "2026-05-10 15:01:46.281",
  "updatedAt": "2026-05-10 15:02:59.490",
  "description": null
}